*.log
*.aux
*.gz
testes/solucao-modulo-2-teste-1.pdf
testes/solucao-modulo-2-teste-2.pdf
listas/lista-6-alg1.pdf
Algebra_1.pdf
*.toc
*.idx

Algebra_1\.fdb_latexmk

Algebra_1\.fls

Algebra_1\.ilg

Algebra_1\.ind

listas/lista-7-alg1\.fdb_latexmk

listas/lista-7-alg1\.fls

listas/lista-7-alg1\.pdf

*.fdb_latexmk

*.fls

listas/lista-1-alg1\.pdf
testes/*.pdf

listas/lista-2-alg1\.pdf

listas/lista-3-alg1\.pdf

listas/lista-4-alg1-antiga\.pdf

listas/lista-4-alg1\.pdf

listas/lista-5-alg1\.pdf

*.xdv

listas/lista_semana_02.pdf
